.myphoto{
    text-align: center;
}
img {
    width: 200px;
}
h1 {
    text-align: center;
}
p {
    font-size: 115%;
    font-weight: normal;
    }
div {
    margin: 12px;
    text-indent: 2in; /* Отступ первой строки в пикселах */
    padding-right: 30px;
    }
hr {
    padding-right: 50px;
}
ul {
    padding: 0; /* Убираем поля */
    margin-left: 230px; /* Отступ слева */
    font-size: 115%;
}
a {
    font-size: 115%;
    font-weight: normal;
    padding: 0; /* Убираем поля */
    margin-left: 192px; /* Отступ слева */
}
.p-top-10 {
    padding-top: 30px;
}
.otstyp {
    margin-left: 205px;
}
